<h2>Live Test Results</h2>

<p>When your batch is complete, this is the JSON data you'd receive via the API:</p>

<pre><%= $.toJSON(results, null, 4) %></pre>

<a href='javascript://' class='start-over'>Start Over</a>