<h2>Live Test</h2>

<p>
  Enter JSON below, exactly as if you were going to send 
  us data through the <a target='_blank' href='http://docs.factoryapi.com/v1/batches.html'>Batches API</a>. 
</p>

<p>We've given you a skeleton to get you started.</p>

<div style='float: left'>

  <form id='json-sandbox-input' class='sandbox-input'>
    <label class='top' for='json'>JSON Data</label>
    <textarea name='json' id='json'></textarea><br>
    <input type='submit' class='action-button' name='Submit'></input>
  </form>

  <a href='javascript://' class='back'>&laquo; Back</a>
</div>

<div class='error noshow' style='margin-left: 20px; float: left'></div>