<%== string_property(field, 'label') %>
<%== name_property(field, field.readonly) %>
<div class='elem'>
	<%== string_property(field, 'width', undefined, undefined, {'class':'pdf_width'}) %>
</div>
<%== string_property(field, 'height') %>
