<%== label_tag( "Instructions", {'for': 'text', 'class': 'top'} ) %>
<textarea name='text' id='markdown'><%= field.attr('text') %></textarea>
<span class='format_help'>Formatting Help <i class='fa fa-info-circle'></i></span>
