<div id='intro'>
  
  <div style='float:right; margin-left: 20px;'>
    <label class='top'>Example Task</label>
    <img src='/images/wizard_form_builder/example.png' style='width: 500px;' />
  </div>
  
  <div style='padding-top: 18px'>
    Template Designer is where you will build and test the interface for the task that you want workers to perform.<br><br>

    An example task template for categorizing images is shown on the right.<br><br>
    
    <strong>Click on the "Let's Go!" button to begin.</strong>
  </div>
  
  <div class='clear'></div>
</div>

<div id='step-1-guider'>
  <ul>
    <li><strong>Click and drag</strong> the title widget to the form to add a title.</li>
    <li>Double-click the title to edit it.</li>
    <li>Your task saves automatically.</li>
  </ul>
  
   When you're done, click on <strong>Data Types</strong> to continue.
</div>

<div id='step-2-guider'>
  <li>Add placeholders for the data you will show to workers.</li>
  <li>Edit the properties of each widget in the 'Editor'.</li>
  <li><strong>You must define a unique <em>API Name</em> for each data type.</strong>
    The API Name lets us know how to match up the real data 
    <a href='https://gethumanoid.com/v1/docs' target='_blank'>you provide</a> 
    with the task template you've built.</li>
</div>

<div id='step-3-guider'>

<ul>
  <li>Add widgets which will allow workers to send you data.</li>
  <li><strong>You must define an <em>API Name</em> for each widget</strong> 
    to specify how this field is named in your task results.
</ul>

</div>
